* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
}
.login {
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.363);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft .loginRight {
  display: flex;
  flex-direction: column;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #4267b2;
  margin: 20vh 0px 10px 0px;
}
.loginDesc {
  font-size: 24px;
  align-self: center;
}
.loginBox {
  height: 50vh;
  padding: 20px;
  margin-left: 5vw;
  width: 25vw;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  font-style: 18px;
  padding-left: 20px;
}
.loginput:focus {
  outline: none;
}
.loginButton {
  height: 9vh;
  align-self: center;
  width: 80%;
  border-radius: 10px;
  border: none;
  background-color: #4267b2;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.loginForgot {
  text-align: center;
  color: #4267b2;
}
.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 8vh;
  border: none;
  border-radius: 10px;
  background: #42b72a;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .login {
    margin: 0px;
  }
  .loginWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .loginLeft {
    display: flex;
    flex: 1;
    position: absolute;
    top: -200px;
    height: 100%;
    width: 100%;
  }
  .loginRight {
    display: flex;
    flex: 1;
    position: absolute;
    top: 170px;
    width: 100%;
    height: 100%;
  }
  .loginLogo {
    position: absolute;
    font-size: 30px;
    font-weight: 800;
    color: #4267b2;
    margin: 0px;
    width: 200%;
  }
  p.loginDesc {
    position: absolute;
    font-size: 20px;
    top: 40%;
  }
  .loginBox {
    display: flex;
    flex: 1;
    height: 50%;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
  }
  .loginInput {
    display: flex;
    height: 40px;
    width: 95%;
  }
  .loginButton {
    height: 15px;
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .loginRegisterButton {
    width: 20%;
    align-self: center;
  }
}
