body {
  margin: 0px;
  border: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  z-index: 1000;
}
.link {
  margin-left: 0px;
  text-decoration: none;
}
.headercontainer {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #4267b2;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.headerleft {
  flex: 2.5;
}
.social_logo {
  display: flex;
  font-size: 30px;
  margin-top: 6px;
  margin-left: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.headermid {
  flex: 5;
}
.searchbar {
  width: 80%;
  height: 60%;
  margin-top: 10px;
  margin-left: 10vw;
  background-color: white;
  border-radius: 999px;
  display: flex;
  align-items: center;
  align-self: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
  padding-right: 10px;
}
.searchInput {
  width: 70%;
  border: 0;
}
.searchInput:focus-visible {
  outline: none;
}

.headerright {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.headerlink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
}
.headerIcons {
  display: flex;
  margin-top: 3px;
}
.headericonitem {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.headericonbadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 9999999px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  left: -10px;
  top: -2px;
  cursor: pointer;
}
.headerlink div {
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
}
.headerimage {
  height: 35px;
  width: 35px;
  position: relative;

  border-radius: 999999px;
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .headerleft {
    flex: 5;
  }
  .social_logo {
    font-size: 25px;
    align-self: center;
    margin-top: 10px;
    margin-left: -60px;
  }
  .headermid,
  .headerlink,
  .searchInput {
    display: none;
  }
  .headericons {
  }
}
@media only screen and (max-width: 950px) {
  .social_logo {
    font-size: 25px;
    align-self: center;
    margin-top: 10px;
  }
}
