* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
}
.sidebar {
  display: flex;
  position: sticky;
  bottom: 0px;
  flex: 20%;
  overflow-y: scroll;
}

.sidebarWrapper {
  padding: 20px;
}
::-webkit-scrollbar {
  width: 5px;
  position: sticky;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}
::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.61);
}

.sidebarList {
  list-style: none;
  position: sticky;
}
.sidebarListItem {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: left;
  margin-bottom: 20px;
}
.sidebarIcon {
  margin-right: 15px;
}
.sidebarButton {
  padding: 20px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}
.sidebarButton:hover {
  cursor: pointer;
}
.sidebarHr {
  border: 1px solid rgba(202, 202, 202, 0.678);
  margin-top: 20px;
}
.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebarFriendImg {
  display: flex;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 999999px;
  margin-right: 10%;
}
