
* {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
  }
  body {
    margin: 0px;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    z-index: 1000;
  }
  .link {
    margin-left: 0px;
    text-decoration: none;
  }
  .headercontainer {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #4267b2;
    position: sticky;
    top: 0px;
    z-index: 1000;
  }
  .headerleft {
    flex: 2.5;
  }
  .social_logo {
    display: flex;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  .headermid {
    flex: 5;
  }
  .searchbar {
    width: 80%;
    height: 60%;
    margin-top: 10px;
    margin-left: 10vw;
    background-color: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
    padding-right: 10px;
  }
  .searchInput {
    width: 70%;
    border: 0;
  }
  .searchInput:focus-visible {
    outline: none;
  }
  
  .headerright {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  .headerlink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
  }
  .headerIcons {
    display: flex;
    margin-top: 3px;
    margin-right: -30px;
  }
  .headericonitem {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }
  .headericonbadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 9999999px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    left: -10px;
    top: -2px;
    cursor: pointer;
  }
  .headerlink div {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  .headerimage {
    height: 35px;
    width: 35px;
    position: relative;
  
    border-radius: 999999px;
    object-fit: cover;
    cursor: pointer;
  }
  @media only screen and (max-width: 900px) {
    .headerleft {
      flex: 5;
    }
    .social_logo {
      font-size: 25px;
      align-self: center;
      margin-top: 10px;
      margin-left: -60px;
    }
    .headermid,
    .headerlink,
    .searchInput {
      display: none;
    }
    .headerIcons {
      margin-right: 3px;
    }
  }
  
  .link {
    font-display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .login {
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.363);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  .loginLeft .loginRight {
    display: flex;
    flex-direction: column;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #4267b2;
    margin: 20vh 0px 10px 0px;
  }
  .loginDesc {
    font-size: 24px;
    align-self: center;
  }
  .loginBox {
    height: 50vh;
    padding: 20px;
    margin-left: 5vw;
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-style: 18px;
    padding-left: 20px;
  }
  .loginput:focus {
    outline: none;
  }
  .loginButton {
    height: 9vh;
    align-self: center;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #4267b2;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .loginForgot {
    text-align: center;
    color: #4267b2;
    margin-top: -15px;
    margin-bottom: 5px;
  }
  .loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 8vh;
    border: none;
    border-radius: 10px;
    background: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }
  @media only screen and (max-width: 600px) {
    .login {
      margin: 0px;
    }
    .loginWrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 100%;
    }
    .loginLeft {
      display: flex;
      flex: 1;
      position: absolute;
      top: -200px;
      height: 100%;
      width: 100%;
    }
    .loginRight {
      display: flex;
      flex: 1;
      position: absolute;
      top: 170px;
      width: 100%;
      height: 100%;
    }
    .loginLogo {
      position: absolute;
      font-size: 30px;
      font-weight: 800;
      color: #4267b2;
      margin: 0px;
      width: 200%;
    }
    p.loginDesc {
      position: absolute;
      font-size: 20px;
      top: 40%;
    }
    .loginBox {
      display: flex;
      flex: 1;
      height: 50%;
      width: 100%;
      padding: 0px;
      margin-left: 0px;
    }
    .loginInput {
      display: flex;
      height: 40px;
      width: 95%;
    }
    .loginButton {
      height: 15px;
      width: 50%;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
    .loginRegisterButton {
      width: 20%;
      align-self: center;
    }
  }  
.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .login {
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 236, 236, 0.363);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  .loginLeft .loginRight {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #4267b2;
  
    margin: 20vh 0px 10px 0px;
  }
  .loginDesc {
    font-size: 24px;
    align-self: center;
  }
  .loginBox {
    height: 50vh;
    padding: 20px;
    margin-left: 5vw;
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .loginInput {
    height: 50px;
    margin-bottom: 2vh;
    border-radius: 10px;
    border: 1px solid grey;
    font-style: 18px;
    padding-left: 20px;
  }
  .loginput:focus {
    outline: none;
  }
  .loginButton {
    height: 9vh;
    margin: 2vh;
    align-self: center;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #4267b2;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .loginForgot {
    text-align: center;
    color: #4267b2;
  }
  .loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 8vh;
    border: none;
    border-radius: 10px;
    background: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }
  .profile {
    display: flex;
  }
  .profileRight {
    flex: 12;
  }
  .profileCover {
    height: 320px;
    position: relative;
  }
  .profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .profileUserImg {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
  }
  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profileInfoName {
    font-size: 24px;
  }
  .profielInfoDesc {
    font-weight: 300;
  }
  .profileRightBottom {
    display: flex;
  }
  .homeContainer {
    display: flex;
  }
  
  * {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar {
    display: flex;
    position: sticky;
    top: 50px;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    flex: 3;
  }
  .sidebarWrapper {
    padding: 20px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 190);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.61);
  }
  
  .sidebarList {
    list-style: none;
  }
  .sidebarListItem {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: left;
    margin-bottom: 20px;
  }
  .sidebarIcon {
    margin-right: 15px;
  }
  .sidebarButton {
    padding: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  .sidebarButton:hover {
    cursor: pointer;
  }
  .sidebarHr {
    border: 1px solid rgba(202, 202, 202, 0.678);
    margin-top: 20px;
  }
  .sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .sidebarFriendImg {
    display: flex;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999999px;
    margin-right: 10%;
  }
  @media only screen and (max-width: 900px) {
    .sidebar {
      display: none;
    }
  }
  .share {
    width: 45vw;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.6);
    align-items: center;
    z-index: 1;
  }
  .shareWrapper {
    padding: 10px;
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
  }
  .shareInput {
    border: none;
    width: 80%;
    font-size: 16px;
    margin-left: 15px;
  }
  .shareInput:focus {
    outline: none;
  }
  .shareHr {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(141, 141, 141);
  }
  .shareBottom {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
  }
  .shareOptions {
    margin-right: 2%;
    display: flex;
    align-items: center;
  }
  .shareIcon1 {
    color: red;
  }
  .shareIcon2 {
    color: blue;
  }
  .shareIcon3 {
    color: green;
  }
  .shareIcon4 {
    color: goldenrod;
  }
  .shareIcon1,
  .shareIcon2,
  .shareIcon3,
  .shareIcon4 {
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    width: 20px;
  }
  .shareOptionText {
    margin-left: 10px;
    font-weight: 500;
  }
  .shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(74, 175, 74);
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 15%;
    outline: 0;
    transition: opacity 0.25s, background-color 0.1s;
    margin-left: 8%;
    margin-right: 1%;
  }
  .shareButton:hover {
    opacity: 75%;
    background-color: rgb(23, 179, 23);
  }
  .shareButton:active {
    opacity: 55%;
  }
  @media only screen and (max-width: 900px) {
    .share {
      width: 100%;
    }
    .shareProfileImg {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
    }
    .shareInput {
      border: none;
      width: 80%;
      font-size: 15px;
      margin-left: 15px;
    }
    .shareHr {
      margin-top: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(141, 141, 141);
    }
    .shareBottom {
      width: 100%;
    }
    .shareIcon1,
    .shareIcon2,
    .shareIcon3,
    .shareIcon4 {
      font-size: 12px;
      font-weight: 500;
      height: 14px;
      width: 14px;
    }
    .shareOptionText {
      margin-left: 2px;
      font-weight: 500;
      font-size: 12px;
    }
    .shareButton {
      border: none;
      padding: 2px;
      font-size: 13px;
      height: 25px;
      width: 15%;
      margin-left: 0%;
      margin-right: 1%;
    }
  }
    
  * {
    margin-right: 0;
    padding: 0;
    border: 0;
    list-style: none;
  }
  .rightbar {
    display: flex;
    position: sticky;
    top: 50px;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    flex: 4;
  }
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  .rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  .rightbarTitle {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .rightbarInfo {
    margin-bottom: 30px;
  }
  .rightbarInfoItem {
    margin-bottom: 10px;
  }
  .rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  .rightbarInfoValue {
    font-weight: 300;
  }
  .rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  @media only screen and (max-width: 900px) {
    .rightbar {
      display: none;
    }
  }


  .post {
    width: 45vw;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  .postWrapper {
    padding: 20px;
  }
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  .postProfileImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999999999px;
  }
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  .postDate {
    font-size: 12px;
    font-weight: 400;
  }
  .postCenter {
    margin: 20px 0px;
  }
  .postImg {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 15px;
    max-height: 450px;
    object-fit: contain;
    border-radius: 5px;
  }
  .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postBottomLeft {
    display: flex;
    align-items: center;
  }
  .likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
  }
  .postLikeCounter {
    font-size: 15px;
  }
  .postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 15px;
  }
  @media only screen and (max-width: 900px) {
    .post {
      width: 100%;
      margin: 10px 0;
    }
    .postWrapper {
      padding: 10px;
    }
    .postProfileImg {
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 999999999px;
    }
    .postUsername {
      font-size: 14px;
    }
    .postImg {
      width: 100%;
      margin-top: 10px;
    }
    .likeIcon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .postLikeCounter {
      font-size: 14px;
    }
    .postCommentText {
      font-size: 14px;
    }
  }
  .feed {
    align-items: center;
    flex: 5;
    justify-content: space-around;
    padding: 50px;
    padding-top: 0px;
  }
  .feedWrapper {
    padding: 20px;
  }
  @media only screen and (max-width: 900px) {
    .feed,
    .feedWrapper {
      padding: 0;
      padding: 10px 5px 10px 5px;
    }
  }
  .rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
  }
  .rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 99999px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
  }
  .rightbarUsername {
    font-weight: 500;
  }
  
  .sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .sidebarFriendImg {
    display: flex;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999999px;
    margin-right: 10%;
  }
  * {
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
  }
  .post {
    width: 45vw;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  .postWrapper {
    padding: 20px;
  }
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  .postProfileImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999999999px;
  }
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  .postDate {
    font-size: 12px;
    font-weight: 400;
  }
  .postCenter {
    margin: 20px 0px;
  }
  .postImg {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 15px;
    max-height: 450px;
    object-fit: contain;
    border-radius: 5px;
  }
  .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postBottomLeft {
    display: flex;
    align-items: center;
  }
  .likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
  }
  .postLikeCounter {
    font-size: 15px;
  }
  .postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 15px;
  }
  @media only screen and (max-width: 900px) {
    .post {
      width: 100%;
      margin: 10px 0;
    }
    .postWrapper {
      padding: 10px;
    }
    .postProfileImg {
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 999999999px;
    }
    .postUsername {
      font-size: 14px;
    }
    .postImg {
      width: 100%;
      margin-top: 10px;
    }
    .likeIcon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .postLikeCounter {
      font-size: 14px;
    }
    .postCommentText {
      font-size: 14px;
    }
  }
  